In [1]:
import keyword

In [2]:
print keyword.kwlist

['and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'exec', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'not', 'or', 'pass', 'print', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
print True

True

In [4]:
True=10

In [5]:
print True

10

In [1]:
name="anil"
age=23
weight=56.66788
height=5.65786
# personal details:
# Name :anil,Age:23,height:5.66,weight:56.66788
print "person details:"
print "Name :anil,Age:23,height:5.66,weight:56.66788"

person details:
Name :anil,Age:23,height:5.66,weight:56.66788

In [3]:
name="anil"
age=23
weight=56.66788
height=5.65786
# personal details:
# Name :anil,Age:23,height:5.66,weight:56.66788
print "personal details:"
print "Name:",name

 personal details:
Name: anil

In [4]:
name="anil"
age=23
weight=56.66788
height=5.65786
# personal details:
# Name :anil,Age:23,height:5.66,weight:56.66788
print "personal details:"
print "Name:",name,"Age",age,"height",height,"weight",weight

personal details:
Name: anil Age 23 height 5.65786 weight 56.66788

In [11]:
name="anil"
age=23
weight=56.66788
height=5.65786
# personal details:
# Name :anil,Age:23,height:5.66,weight:56.66788
print "personal details:"
print "Name:"+name+",Age:"+age",height:"+height+",weight:"+weight

SyntaxError: invalid syntax (<ipython-input-11-265aff812157>, line 8)

In [12]:
"cost:"+20

TypeError: cannot concatenate 'str' and 'int' objects

In [13]:
"cost:"+str(20)

'cost:20'

In [14]:
name="anil"
age=23
weight=56.66788
height=5.65786
# personal details:
# Name :anil,Age:23,height:5.66,weight:56.66788
print "personal details:"
print "Name:"+name+",Age:"+str(age)+",height:"+str(height)+",weight:"+str(weight)

personal details:
Name:anil,Age:23,height:5.65786,weight:56.66788

In [15]:
float ("55.788",2)

TypeError: float() takes at most 1 argument (2 given)

In [19]:
name="anil"
age=23
weight=56.66788
height=5.65786
# personal details:
# Name :anil,Age:23,height:5.66,weight:56.66788
print "personal details:\n\tName:"+name+",Age:"+str(age)+",height:"+str(height)+",weight:"+str(weight)

personal details:
	Name:anil,Age:23,height:5.65786,weight:56.66788

In [23]:
# It's a "hot" day in 'hyderabad'
print "It's a "hot" day in 'hyderabad'"

SyntaxError: invalid syntax (<ipython-input-23-87959c9d6ba5>, line 2)

In [22]:
print "It's a \"hot\" day in 'hyderabad'"

It's a "hot" day in 'hyderabad'

In [29]:
print 'It\'s a "hot" day in \'hyderabad\''

It's a "hot" day in 'hyderabad'

In [28]:
print 'It\'s a "hot" day in \'hyderabad\''

It's a "hot" day in 'hyderabad'